.input {
  padding: size(space, 0.25) size(space, 0.5);
  
  background-color: transparent;
  color: color(light);

  border: none;
  border-bottom: 2px solid color(mid);

  font-family: fontstack(sans);
  font-size: size(base, 0.75);

  &:focus {
    background-color: rgba(color(light), 0.05);
    border-bottom-color: color(red);
    outline: none;
  }

  &::placeholder {
    color: color(mid);
  }

  &:valid { }
  &:invalid { }
}

.input--text {}
.input--password {}
.input--button {}

.input--large {
  padding: size(space, 0.75) size(space, 1);

  @extend h3.heading;
}