.pagination {
  overflow: hidden;
  // max-width: width(narrow);

  padding: scale(0.5, space);
  background-color: color(halfdark);
}

.pagination-prev,
.pagination-next {
  color: color(light); 
  fill: color(light); 
  text-decoration: none; 

  &:hover { text-decoration: underline; }

  .icon { 
    vertical-align: middle;
    margin-top: -4px;
    height: 0.9em; 
  }
}

.pagination-prev {
  float: left;
  direction: rtl;

  // span { margin-left: scale(0.5, space); }
}

.pagination-next {
  float: right;
  
  // span { margin-right: scale(0.5, space); }
}

