$colors: (
  dark: #292623,
  halfdark: mix(#292623, #292623, 75), 
  mid: mix(#292623, #292623), 
  halflight: mix(#292623, #292623, 25), 
  offlight: mix(#292623, #292623, 5), 
  light: #f7f5f0,
  red: #ef5650,
  purple: #7f61aa,
  blue: #5773b8,
  teal: #4ebd95,
  yellow: #f2ca15,
);