.pagination {
  overflow: hidden;

  & > * + * {
    margin-left: size(space, 2);
  }
}

.pagination-prev,
.pagination-next {
  float: left;
  text-decoration: none; 

  &:hover { text-decoration: underline; }

  .icon { 
    vertical-align: middle;
    margin-top: -4px;
    height: 0.9em; 
  }
}

.pagination-prev {
  direction: rtl;
}