// Font Stacks
$fontstack-sans: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$fontstack-mono: monospace;

// Based Shades
$color-dark:  #292623;
$color-light: #f9f8f4;
$color-offlight: mix($color-light, $color-dark, 95);
$color-halfmid: mix($color-light, $color-dark, 75);
$color-mid: mix($color-dark, $color-light, 75);

// Colors
$color-red: #ff0000;

// Sizes
$wrapper: 80px * 12;
$wrapper-text: 80px * 9;

// Spacing
$padding: 2vw;
$space: 1em;

// Element Types
$type-headers: h1, h2, h3, h4, h5, h6;
$type-lists: ol, ul;
$type-inputs: input, button;