.l-mast { }

.l-mast-logo {
  a { display: inline-block; }

  .logo {
    width: size(column, 1.5);
    height: size(column, 1.5);
  }
}

.l-mast-nav { margin-top: size(space, 1); }
.l-mast-breadcrumb { margin-top: size(space, 0.5); }

.l-mast--toplevel { }


.l-mast--breadcrumb {
  padding-top: size(space, 0.5);
  padding-bottom: size(space, 0.5);
  
  background-color: color(dark);
  color: color(light);

  font-weight: weight(normal);

  .logo {
    position: relative;
    overflow: hidden;

    width: size(column, 0.5);
    height: size(column, 0.5);

    svg {
      transform: scaleX(2) scaleY(2);
    }
  }

  a {
    color: color(light);
    text-decoration: none;
    font-size: 80%;
  }

  & + .strata {
    padding-top: size(space, 1);
  }

  @include media-above(narrow) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  @include media-between(narrow, default) {
    & + .strata { padding-top: size(space, 4); }
  }

  @include media-above(default) {
    & + .strata { padding-top: size(space, 4.5); }
  }
}


@include media-above(tiny) {
  .l-mast-logo,
  .l-mast-nav,
  .l-mast-breadcrumb {
    display: inline-block;
    vertical-align: middle;
  }

  .l-mast-breadcrumb,
  .l-mast-nav {
    margin-top: 0;
  }

  .l-mast-nav {
    margin-left: size(space);
  }
}