html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;

  background: color(light);
  color: color(dark);

  font-family: fontstack(sans);
  font-weight: weight(default);
  font-size: size(base); // eq to size(base, 1) 
  line-height: size(line);

  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision;
}

body { 
  @include media-below(tiny) {
    font-size: size(base, 0.5);
  }

  @include media-between(tiny, narrow) {
    font-size: size(base, 0.8);
  }

  @include media-between(narrow, default) {
    font-size: size(base, 0.9);
  }

  @include media-between(wide, huge) {
    font-size: size(base, 1.1);
  }

  @include media-above(huge) {
    font-size: size(base, 1.3);
  }
}
