html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;

  background: color(light);
  color: color(dark);

  font-family: fontstack(sans);
  font-weight: weight(normal);
  font-size: size(base);
  line-height: size(line);

  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision;
}

body { 
  padding: size(space);

  @include media-below(tiny) {
    font-size: scale(0.5, base);
  }

  @include media-between(tiny, narrow) {
    font-size: scale(0.8, base);
  }

  @include media-between(narrow, normal) {
    font-size: scale(0.9, base);
  }

  @include media-between(wide, huge) {
    font-size: scale(1.1, base);
  }

  @include media-above(huge) {
    font-size: scale(1.3, base);
  }
}
