.menu {


  a { 
    text-decoration: none;
    font-weight: weight(normal);
  }
}

.menu-articles a { color: color(red); }
.menu-open-source a { color: color(purple); }
.menu-contribute a { color: color(blue); }