.heading { 
  font-family: fontstack(sans);
  font-weight: weight(bold);
	font-size: size(hbase, 1);
	line-height: size(line, 0.75);
}

.heading--h1, h1.heading { font-size: size(hbase, 1.5); }
.heading--h2, h2.heading { font-size: size(hbase, 1.2); }
.heading--h3, h3.heading { font-size: size(hbase, 1); }
.heading--h4, h4.heading { font-size: size(hbase, 0.85); }
.heading--h5, h5.heading { font-size: size(hbase, 0.7); }
.heading--h6, h6.heading { font-size: size(hbase, 0.5); }