/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: #f7f5f0;
  color: #292623;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 120%;
  line-height: 1.55em;
  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision; }

@media only screen and (max-width: 20em) {
  body {
    font-size: 60%; } }

@media only screen and (min-width: 20em) and (max-width: 32em) {
  body {
    font-size: 96%; } }

@media only screen and (min-width: 32em) and (max-width: 48em) {
  body {
    font-size: 108%; } }

@media only screen and (min-width: 72em) and (max-width: 96em) {
  body {
    font-size: 132%; } }

@media only screen and (min-width: 96em) {
  body {
    font-size: 156%; } }

img::-moz-selection,
::-moz-selection {
  background-color: #ef5650;
  color: white; }

img::selection,
::selection {
  background-color: #ef5650;
  color: white; }

* {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
  transition-timing-function: ease; }

em, cite {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  line-height: 120%;
  font-size: 80%;
  font-weight: 300;
  color: #908e8a; }

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 500; }

a {
  text-decoration: underline;
  color: #292623; }

.breadcrumb a:hover {
  text-decoration: underline; }

.breadcrumb > * {
  display: inline-block;
  vertical-align: middle; }

.breadcrumb-seperator {
  margin: 0 0.15em;
  margin-top: 2px;
  height: 0.5em; }
  .breadcrumb-seperator .icon {
    fill: #5d5a56; }

.heading {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 1.1625em; }

.heading--h1, h1.heading {
  font-size: 225%; }

.heading--h2, h2.heading {
  font-size: 180%; }

.heading--h3, h3.heading, .input--large {
  font-size: 150%; }

.heading--h4, h4.heading {
  font-size: 127.5%; }

.heading--h5, h5.heading {
  font-size: 105%; }

.heading--h6, h6.heading {
  font-size: 75%; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em; }
  .icon > * {
    width: 100%;
    height: 100%; }

.input {
  padding: 0.25em 0.5em;
  background-color: transparent;
  color: #f7f5f0;
  border: none;
  border-bottom: 2px solid #908e8a;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 90%; }
  .input:focus {
    background-color: rgba(247, 245, 240, 0.05);
    border-bottom-color: #ef5650;
    outline: none; }
  .input::-webkit-input-placeholder {
    color: #908e8a; }
  .input::-moz-placeholder {
    color: #908e8a; }
  .input:-ms-input-placeholder {
    color: #908e8a; }
  .input::placeholder {
    color: #908e8a; }

.input--large {
  padding: 0.75em 1em; }

.heading {
  font-size: 150%;
  font-weight: 500;
  line-height: 1.1625em; }

h1.heading {
  font-size: 225%; }

h2.heading {
  font-size: 180%; }

h3.heading, .input--large {
  font-size: 150%; }

h4.heading {
  font-size: 127.5%; }

h5.heading {
  font-size: 105%; }

h6.heading {
  font-size: 75%; }

.list--unordered {
  list-style: inside square; }

.list--ordered {
  list-style: inside decimal; }

.list--inline > li {
  display: inline-block; }

.logo {
  display: inline-block;
  width: 4em;
  height: 4em; }
  .logo > * {
    width: 100%;
    height: 100%; }

.menu a {
  text-decoration: none;
  font-weight: 400; }

.menu--articles a {
  color: #ef5650; }

.menu--open-source a {
  color: #7f61aa; }

.menu--contribute a {
  color: #5773b8; }

.pagination {
  overflow: hidden; }
  .pagination > * + * {
    margin-left: 2em; }

.pagination-prev,
.pagination-next {
  float: left;
  text-decoration: none; }
  .pagination-prev:hover,
  .pagination-next:hover {
    text-decoration: underline; }
  .pagination-prev .icon,
  .pagination-next .icon {
    vertical-align: middle;
    margin-top: -4px;
    height: 0.9em; }

.pagination-prev {
  direction: rtl; }

.rhythm > * + * {
  margin-top: 1em; }

.rhythm-small > * + * {
  margin-top: 0.5em; }

.rhythm-large > * + * {
  margin-top: 1.5em; }

.strata {
  display: block;
  padding: 1em; }
  .strata + .strata {
    padding-top: 0; }
  @media only screen and (min-width: 32em) {
    .strata {
      padding: 1.5em; } }

.strata--no-padding {
  padding: 0; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 48em; }

.wrapper-text {
  max-width: 32em; }

.l-mast {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #292623;
  color: #f7f5f0;
  font-weight: 400;
  white-space: nowrap; }
  .l-mast + .strata {
    padding-top: 4em; }
    @media only screen and (min-width: 32em) and (max-width: 48em) {
      .l-mast + .strata {
        padding-top: 4.5em; } }
    @media only screen and (min-width: 48em) {
      .l-mast + .strata {
        padding-top: 5em; } }

.l-mast-logo {
  display: inline-block;
  vertical-align: middle; }
  .l-mast-logo .logo {
    overflow: hidden;
    width: 2em;
    height: 2em; }
    .l-mast-logo .logo svg {
      -webkit-transform: scaleX(2) scaleY(2);
              transform: scaleX(2) scaleY(2); }

.l-mast-breadcrumb {
  display: inline-block;
  vertical-align: middle; }
  .l-mast-breadcrumb a {
    display: inline-block;
    font-size: 80%;
    text-decoration: none; }
  .l-mast-breadcrumb .menu {
    transition-property: max-width, opacity; }
    .l-mast-breadcrumb .menu > li {
      max-width: 0px;
      max-height: 0px;
      opacity: 0;
      transition-property: max-height, max-width, opacity; }
      .l-mast-breadcrumb .menu > li.is-active {
        max-height: 60px;
        max-width: 140px;
        opacity: 1; }
    .l-mast-breadcrumb .menu ~ * {
      color: #f7f5f0; }
  .l-mast-breadcrumb svg {
    transition-property: max-width, opacity; }

.l-root--dark {
  background-color: #292623; }

.l-search {
  background-color: #292623;
  color: #f7f5f0; }

/*# sourceMappingURL=style.css.map */
