.breadcrumb {
  a:hover { text-decoration: underline; }

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.breadcrumb-seperator {
  margin: 0 size(space, 0.15);
  margin-top: 2px;
  height: 0.5em;

 .icon {
     fill: color(halfdark);
  }
}