.breadcrumb {
  a:hover { text-decoration: underline; }

  .icon {
    vertical-align: middle;
    margin: 0 size(space, 0.15);
    height: 0.5em;

    fill: color(halfdark);
  }

  @include media-below(narrow) {
    svg:first-of-type { display: none; }
    a:first-of-type { display: none; }
  }
}