html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;

  background: $color-offlight;
  color: $color-dark;

  font-family: $fontstack-sans;
  font-weight: 500;
  font-size: 120%;
  line-height: 1.5em;

  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision;
}

img::selection, 
::selection { background-color: rgba($color-dark, 0.25); }

em, cite { font-style: italic; }
strong { font-weight: bold; }
small, .small { 
  line-height: 125%;
  font-size: 75%;
  font-weight: 300;
  color: mix($color-dark, $color-light, 50);
}

#{$type-headers} {
  font-family: $fontstack-sans;
}

a {
  text-decoration: underline;
  color: $color-dark
}

* {
  box-sizing: border-box;
  
  transition-property: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  
  backface-visibility: hidden;
}